body {
    background-color: #f9ee9d;
}

.card .card-img {
    object-fit: cover;
    object-position: center;
    max-height: 15dvh;
}

.card {
    cursor: pointer;
}

.cart-items>div {
    border-bottom: 1px solid gray;
    padding: 0.3em 0;
}